@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.modal-backdrop {
  backdrop-filter: blur(5px);
}
body.modal-open {
  overflow: hidden;
}
